body.day {
	background-color: white;
}

body.night {
	background-color: black; 
}

.night h1, .night p{
	color:fff;
	font-weight: bold;
}

#displ {
	border-style: : solid;
	border-width:  2px;
	background-color: yellow;
}